{% extends 'sklDj/base.html' %}

{% block backnav_block%} {% endblock %}

{% block body_block %}

    <div class="container">

        <div class="jumbotron" style="margin-top: 150px;" >
            <h1>Web Interface for scikit-learn.</h1>
            <p>A web interface for sklearn, powered by Django. </p>
        </div>

        <!-- Main component for a primary marketing message or call to action -->
        {% for algorithm in algorithms_list.all %}
        <div class="jumbotron">

            <h1>{{ algorithm.name }}</h1>
            <h2> Example Code</h2>
            <div class="bootstrap-demo" style="width:50%">
              <pre><p>
    {{algorithm.example_code}}
</p></pre>
             </div> 
            <form action="./{{algorithm.slug}}/" method="post" enctype="multipart/form-data" .form-inline>
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit" />
            </form>
            
        </div>
        {% endfor %}

    </div> <!-- /container -->

{% endblock %}
